@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
    --first-color: #1d1d37;
    --second-color:#d0a933;
    --third-color:#
    --third-color:#6C89FF;
    --font-size: 6em;
    --font-1: 'Source Serif 4', serif;

  }

body{

    background-color: var(--first-color);
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
} 
.girl{
  display: none;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-1);
  font-size: 60px;
  color: #f0e448;
  text-shadow: 0 0 5px #f0e448, 0 0 2px #f0e448;
  width: 100%;
  text-align: center;
  
}
.gradient_button{
    font-family: var(--font-1);
    position: absolute;
    width: 200px;
    background: linear-gradient(to right, #f0e448, #efa887,#d164b3,#9853c6,#4f57ce);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
    border-radius: 7px;
    margin : 0 0 100px 610px;
    margin-top: -100px;
}

.corner-image {
  position: fixed;
  width: 200px;
  height: 200px;
  object-fit: cover;
  animation: moveUpDown 1s infinite alternate-reverse; 
}

.top-left { 
  top: 0;
  left: 0;
}
.top-right { 
  top: 0; 
  right: 0; 
}
.bottom-left { 
  bottom: 0; 
  left: 0; 
}
.bottom-right { 
  bottom: 0; 
  right: 0; 
}
@keyframes moveUpDown {
  to {
    transform: translateY(-20px); 
  }
}
@media only screen and (max-width: 425px) {
  .back{
    display: none;
  }
  body{
    margin:0;
    padding: 0;
  }
  h1{
    font-size: 20px;
  }

  .corner-image,
  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    margin-top: 60px;
    width: 80px;
    height: 80px;
  }
}







  


